*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}
p{  
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    margin: 60px;
    margin-left: 50%; 
    
}
